.contact-form-field {
	LABEL, INPUT, TEXTAREA {
		display: block;
	}
}



.contact-area {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	@media (max-width: 600px) {
		top: 0;
		z-index: 1;
	}

	.contact-info {
		background: #fff;
		display: inline-block;
		position: absolute;
		width: 50%;
		left: -51%;
		transition: left 350ms ease-in-out, opacity 350ms linear;
		opacity: 0;
		@media (max-width: 600px) {

			padding-bottom: 10vh;
			width: 100%;

		}
		.contact-text-area {
			@media (max-width: 600px) {
				padding-top: 20vh;
				height: 60vh;
			}
			height: 90vh;
			padding: 30vh 20px 0;
			max-width: 560px;
			margin: 0 auto 10vh auto;

			h1 {
				margin-bottom: 80px;
			}

			p {
				font-family: RobotoMono, monospace;
				font-size: 13px;
				color: #3E3E3E;
				font-weight: 400;
				letter-spacing: 0.87px;
			}

			.text-group {
				display: inline-block;
				float: left;
				width: 50%;
			}
		}
	}
	.contact-block {
		background: url("../images/Wakeone_img_Contact_2500px.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		width: 50%;
		padding-top: 15vh;
		height: 110vh;
		display: inline-block;
		right: -51%;
		opacity: 0;
		transition: right 350ms ease-in-out, opacity 350ms linear;
		@media (max-width: 600px) {
			width: 100%;
		}

		.contact-form {
			display: block;
			margin: 0 auto;
			max-width: 300px;

			.contact-form-field {
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				margin-bottom: 60px;
				&:last-of-type {
					border-bottom: 0;
					margin-bottom: 30px;
				}
			}

			.contact-form-send-error {
				clear: both;
				display: block;
				margin: 20px auto 0;
				text-align: center;
			}

		}
	}

	.contact-thanks {
		margin: 0 auto;
		text-align: center;
		p {
			color: #FFFFFF;
			letter-spacing: 0.92px;
		}
	}

	span {
		opacity: 1;
		font-family: RobotoMono, monospace;
		font-size: 12px;
		color: #FFFFFF;
		letter-spacing: 0.92px;
	}

	textarea {
		color: #FFFFFF;
		font-family: RobotoMono, monospace;
		font-size: 13px;
		letter-spacing: 1px;
		max-width: 300px;
		resize: none;
		width: 100%;
	}

	input[type=text] {
		border: none;
		color: #FFFFFF;
		font-family: RobotoMono, monospace;
		font-size: 13px;
		padding-left: 0;
		margin-bottom: 0;
		letter-spacing: 1px;
		width: 100%;
	}

	input[type=email] {
		border: none;
		color: #FFFFFF;
		font-family: RobotoMono, monospace;
		font-size: 13px;
		margin-bottom: 6px;
		letter-spacing: 1px;

		width: 100%;
	}

	input[type=tel] {
		border: none;
		color: #FFFFFF;
		font-family: RobotoMono, monospace;
		font-size: 13px;
		margin-bottom: 6px;
		letter-spacing: 1px;
		width: 100%;
	}

	button {
		background: transparent;
		border: 1px solid #FFFFFF;
		padding: 15px 30px;
		float: right;
		font-family: RobotoMono, monospace;
		font-size: 13px;
		color: #FFFFFF;
		letter-spacing: 1px;
		transition: background 300ms ease-in-out;
		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}
	}

	&.show-contact {
		@media (max-width: 600px) {
		}
		.contact-block {
			right: 0;
			opacity: 1;
		}
		.contact-info {
			left: 0;
			opacity: 1;
			position: relative;
		}

		@media (max-width: 600px) {
			position: absolute;
		}
	}
}



.contact-button {
	background: transparent;
	border: 1px solid #FFFFFF;
	padding: 15px 30px;
	position: absolute;
	top: 5vh;
	right: 5vw;
	font-family: RobotoMono, monospace;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 1px;
	transition: background 300ms ease-in-out;
	z-index: 5;
	&:hover {
		background: rgba(255,255,255, 0.5);

	}
	&:focus {
		outline: none!important;
	}
	@media (max-width: 600px) {
		display: none;
	}

}



