
.content-page {
	padding-top: 6em;
	padding-left: 20px;
	padding-right: 20px;

	@media (max-width: 600px) {
		padding-top: 3em;
		&.hidden {
			display: none;
		}
	}


	.wrapper {
		margin: 80px 0;;
		@media (max-width: 600px) {
			margin: 40px 0;;
		}
		.editor-content {
			max-width: 770px;
			margin: 0 auto;
		}

		.quote {

			max-width: 500px;
			margin: 0 auto;
			text-align: center;

			p {
				font-family: RobotoMono,  monospace;
				font-weight: 400;
				font-size: 15px;
				color: #3E3E3E;
				letter-spacing: 1px;
				line-height: 26px;

			}

			.quote-text {
				margin-bottom: 20px;
			}

		}

	}

	.full-width-img {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.next-article {
		float: right;
		padding-bottom: 50px;
		a {
			font-family: RobotoMono,  monospace;
			font-size: 15px;
			color: #17755E;
			letter-spacing: 1.85px;
		}
	}

	.prev-article {
		float: left;
		padding-bottom: 50px;
		a {
			font-family: RobotoMono,  monospace;
			font-size: 15px;
			color: #17755E;
			letter-spacing: 1.85px;
		}
	}
}