
.frontpage {
	display: inline-block;
	width: 100%;

	.content-front {
		background: #fff;
		display: inline-block;
		width: 50%;
		top: -60px;
		position: absolute;
		z-index: 2;
		@media (max-width: 600px) {
			background: transparent;
			position: relative;
			width: 100%;


			//.content {
			//	background-color: transparent;
			//}
		}

		.content {
			width: 90%;
			z-index: 2;
			margin: 0 auto;
			@media (max-width: 600px) {
				width: 100%;
				&.hidden {
					display: none;
				}
			}
		}

			.wrapper {
				.content {
					display: block;
				}
			}



			.section {
				padding-top: 35vh;
				max-width: 560px;
				margin: 10vh auto 20vh auto;
				@media (max-width: 600px) {
					padding-top: 10vh;

					padding-left: 20px;
					padding-right: 20px;
					margin: 5vh auto 0 auto;
					&:first-of-type {
						padding-top: 20px;

					}

				}

				.logos-container {

					display: block;
					text-align: center;
					margin-top: 5vh;
					@media (max-width: 600px) {

						margin: 20vh auto;
						max-width: 400px;
						text-align: unset;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
					}
					.logo {
						display: inline-block;
						@media (max-width: 600px) {

							&:nth-of-type(3n + 2) {
								margin-top: -30px;
						}
							//&:nth-of-type(3n+ 1) {
							//	margin-top: -30px;
							//}
							&:last-of-type {
								margin-top: -30px;
							}
						}
						img {
							//box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, .2);
							margin: 10px;
							height: 60px;
							width: auto;
							@media (max-width: 600px) {
								margin: 8px;
								height: 45px;


							}
						}
					}
					//&:before {
					//	color: #69DDC1;
					//	width: 100%;
					//	font-size: 20px;
					//	font-family: fa-light;
					//	content: '\f061';
					//	position: absolute;
					//	left: -25px;
					//	transition: left 300ms ease-in-out;
					//
					//}
				}

				.front-links {
					position: relative;
					.front-link {
						display: block;
						position: relative;
						padding-left: 0;
						margin-top: 15px;
						transition: all 300ms ease-in-out;

						&:hover {
							padding-left: 40px;
						}

						p {
							display: inline;
							&:before {
								color: #69DDC1;
								width: 100%;
								font-size: 20px;
								font-family: fa-light;
								content: '\f061';
								position: absolute;
								left: -25px;
								transition: left 300ms ease-in-out;

							}
							&:hover {

								&:before {
									left: 15px;
								}
							}
						}

					}
				}
			}
	}

}

.background-front {
	background: url("../images/Wakeone_img_11.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	height: 100%;
	left: 50%;
	position: fixed;
	width: 50%;
	top: 0;
	z-index: 1;
	@media (max-width: 600px) {
		background-size: contain;
		position: relative;
		left: 0;
		width: 100%;
		height: 60vh;
	}


}

.fa-arrow-down {

	color: #69DDC1;
	//cursor: pointer;
	&:after {
		font-size: 20px;
		font-family: fa-light;
		content: '\f063';
		position: absolute;

	}
}



