<template-meta>
	<name>Dummy</name>
	<renderClassHints>DummyPage</renderClassHints>
	<application>website</application>
</template-meta>
<div>
	This is a dummy page
	<blocklist name="dummies"></blocklist>
</div>