<template-meta>
	<name>Frontpage</name>
	<renderClassHints>\RCMS\Page</renderClassHints>
	<application>website</application>
</template-meta>
<div class="frontpage">
	<div class="background-front">
	</div>
	<div class="content-front">
		<div class="content" ng-model="toggle" ng-class="toggle ? 'hidden' : ''">
				<div class="section">
					<h1><text name="frontHeading"></text></h1>
					<div class="fal fa-arrow-down"></div>
				</div>


				<div class="section">
						<p><text name="frontText"></text></p>

						<div class="logos-container">
							<div class="logo"><img src="assets/images/Logo_oppobot@2x.png" alt="Oppobot"></div>
							<div class="logo"><img src="assets/images/Logo_nokia@2x.png" alt="Nokia"></div>
							<div class="logo"><img src="assets/images/Logo_seriously@2x.png" alt="Seriously"></div>
							<div class="logo"><img src="assets/images/Logo_sako@2x.png" alt="Sako"></div>
							<div class="logo"><img src="assets/images/Logo_telia@2x.png" alt="Telia"></div>
							<div class="logo"><img src="assets/images/Logo_upm@2x.png" alt="UPM"></div>
							<div class="logo"><img src="assets/images/Logo_km@2x.png" alt="Kiinteistömaailma"></div>
						</div>
					</div>

					<div class="section">
						<ul class="front-links">
							<reference  name="linkRepeater" type="ContentPage" template="blocks/contentPage-referenceList.twig"></reference>
						</ul>
					</div>
			</div>
		</div>
	{% include 'blocks/contact.twig' %}
</div>