<template-meta>
	<name>Sisältösivu</name>
	<renderClassHints>ContentPage</renderClassHints>
</template-meta>
<settings-template>
	<label for="article">Artikkeli <input type="checkbox" editable="article" id="article"></label>
</settings-template>
{{ setGlobalVariable('FullHeader', true) }}
<div class="container">
	<div class="content-page" ng-model="toggle" ng-class="toggle ? 'hidden' : ''">
		<blocklist name="contentPageItems"></blocklist>
		{% if article %}
			{% set navi = doc.getPrevNextArticle() %}
			{% if navi.prev %}
				<div class="prev-article"><a href="{{ navi.prev }}">&lt; Previous</a></div>
			{% endif %}
			{% if navi.next %}
				<div class="next-article"><a href="{{ navi.next }}">Next &gt;</a></div>
			{% endif %}
		{% endif %}
	</div>


	{% include 'blocks/contact.twig' %}


</div>