<template-meta>
	<layout>true</layout>
	<default>true</default>
	<renderClassHints>\RCMS\Page</renderClassHints>
	<application>website</application>
</template-meta>
{% extends 'base.twig' %}
{% set layout_name = 'one-column' %}
{% block layout_placeholders %}
	<header class="l-placeholder l-placeholder--header">
		{% block placeholder_header %}
			{% include 'blocks/site-header.twig' %}
		{% endblock %}
	</header>
	<div class="l-placeholder l-placeholder--content">
		{{content}}
	</div>
	<footer class="l-placeholder l-placeholder--footer">
		{% block placeholder_footer %}
			{% include 'blocks/site-footer.twig' %}
		{% endblock %}
	</footer>
{% endblock %}