/*
Filename starts with 1 so that the file will be first one in base-folder to be loaded.
Modified version of html5doctor.com Reset Stylesheet v1.6.1
Original author: Richard Clark - http://richclarkdesign.com 
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input, textarea {
	padding:0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

table, tbody, tfoot, thead, tr, th, td {
	padding:0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	border-color: #ccc;
}

table {
	border-style: solid;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    line-height: 1.5em;
	font-family: AvenirLTPro-Roman;
	font-size: 20px;
	color: #3E3E3E;
	letter-spacing: 0.3px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #059430;
    text-decoration: none;
}
strong {
    font-weight: $bold;
}
ul {
    margin: 14px 0 22px;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:2px;
    border:0;   
    border-top:2px solid #eee;
    margin:5px 0 11px;
    padding:0;
}
input, select {
    vertical-align:middle;
}
input, button, select {
    font-family: 'Arial';
}
input[type="text"], select {
    line-height: 34px;
    height: 34px;
    border: 1px solid #eee;
    margin: 0 0 12px 0;
    padding: 0 11px;
}

