
@font-face {font-family: 'AvenirLTPro-Roman';
	src: url('../fonts/37DDC7_0_0.eot') format('embedded-opentype'),
	url('../fonts/37DDC7_0_0.woff2') format('woff2'),
	url('../fonts/37DDC7_0_0.woff') format('woff'),
	url('../fonts/37DDC7_0_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTPro-Medium';
	src: url('../fonts/37DDC7_1_0.eot') format('embedded-opentype'),
	url('../fonts/37DDC7_1_0.woff2') format('woff2'),
	url('../fonts/37DDC7_1_0.woff') format('woff'),
	url('../fonts/37DDC7_1_0.ttf') format('truetype');}


@font-face {font-family: 'fa-regular';
	src: url('../fonts/fa-regular-400.eot') format('embedded-opentype'),
	url('../fonts/fa-regular-400.woff2') format('woff2'),
	url('../fonts/fa-regular-400.woff') format('woff'),
	url('../fonts/fa-regular-400.ttf') format('truetype');}


@font-face {font-family: 'fa-light';
	src: url('../fonts/fa-light-300.eot') format('embedded-opentype'),
	url('../fonts/fa-light-300.woff2') format('woff2'),
	url('../fonts/fa-light-300.woff') format('woff'),
	url('../fonts/fa-light-300.ttf') format('truetype');}
