
.header-container {
	background-color: transparent;
	height: 50px;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 100;
	@media (max-width: 600px) {
		background-color: #c7d5d1;
		height: 70px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	.header-left {
		padding: 0;
		text-align: left;
		float: left;
		display: block;
		margin-right: 4%;
		width: 48%;

	}
	.header-right {
		padding: 0;
		text-align: left;
		float: right;
		display: block;
		width: 48%;

	}

	.logo {
		display: inline-block;
		margin: 30px 20px;
		height: 20px;
		width: 100px;
		&:after {
			background-repeat: no-repeat;
			background: url("../images/W1_Logo@2x.svg");
			content: '';
			height: 14px;
			position: absolute;
			width: 100px;

		}
	}

	.full-header {
		float: right;
		margin: 20px 0;
		right: 20px;
		position: absolute;
		&.hidden {
			display: none;
		}
		@media (max-width: 600px) {
			display: none;
		}

		a {
			display: block;
			color: #3E3E3E;
			font-family: RobotoMono, monospace;
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 20px;
			letter-spacing: 0.87px;
		}

		.header-contact-button {

			background: transparent;
			border: 1px solid #000000;
			color: #000000;
			display: block;
			font-family: RobotoMono, monospace;
			font-size: 13px;
			letter-spacing: 1px;
			margin: 0 auto 0;
			padding: 20px 50px;
			position: relative;
			transition: background 300ms ease-in-out, opacity;
			z-index: 5;
			&:hover {
				background: rgba(0, 0, 0, 0.6);
			}
			&:focus {
				outline: none;
			}


		}

	}

	.menu-button {
		background: none;
		border: none;
		cursor: pointer;
		float: right;
		margin-right: 16px;
		margin-top: 16px;
		width: 26px;
		height: 1px;
		padding: 20px 0;
		@media (min-width: 600px) {
			display: none;
		}
		&:before {
			content: '';
			background: #000;
			height: 1px;
			margin-top: -4px;
			position: absolute;
			width: 20px;
			opacity: 0.7;
			border-top: 2px solid rgba(0, 0, 0, 0.3);

		}

		&:after {
			content: '';
			background: #000;
			height: 1px;
			margin-top: 4px;
			position: absolute;
			width: 20px;
			opacity: 0.7;
			border-top: 2px solid rgba(0, 0, 0, 0.3);
		}
	}

	.hamburger-menu-content {
		background: #c7d5d1;
		position: fixed;
		overflow: hidden;
		height: 0px;
		top: 70px;
		padding-top: 0;
		text-align: center;
		width: 100%;
		transition: height 300ms ease-in-out, padding-top 300ms ease-in-out;
		&.show-menu {
			padding-top: 30vh;
			height: 100%;
		}

		.contact-button-mobile {
			background: transparent;
			border: 1px solid #000000;
			color: #000000;
			display: block;
			font-family: RobotoMono, monospace;
			font-size: 13px;
			letter-spacing: 1px;
			margin: 0 auto 0;
			padding: 20px 50px;
			position: relative;
			transition: background 300ms ease-in-out;
			z-index: 5;
			&:hover {
				background: rgba(0, 0, 0, 0.6);
			}
		}

		a {
			display: block;
			color: #3E3E3E;
			font-family: RobotoMono, monospace;
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 40px;
			letter-spacing: 0.87px;
		}
	}
}


[ng-app="editor"] {

	.header-container {
		position: relative;
	}
}