
h1 {
	font-family: AvenirLTPro-Medium;
	font-size: 40px;
	color: #3E3E3E;
	letter-spacing: 0.8px;
	line-height: 55px;
	font-weight: 400;
	margin-bottom: 30px;
	@media (max-width: 600px) {
		font-size: 30px;
		line-height: 40px;
	}
}


h2 {
	font-family: AvenirLTPro-Medium;
	color: #3E3E3E;
	line-height: 45px;
	letter-spacing: 0.8px;
	font-weight: 400;
}



h3 {
	font-family: AvenirLTPro-Medium;
	color: #3E3E3E;
	line-height: 34px;
	letter-spacing: 0.8px;
	font-weight: 400;
}

