<div class="contact-area" ng-model="toggle" ng-class="toggle ? 'show-contact' : ''">
	<button class="contact-button" ng-cloak ng-click="toggle=!toggle">[[toggle ? "Close" : "Contact"]]</button>
	<div class="contact-info">
		<div class="contact-text-area">
			<h1>We’d love to hear from you</h1>
			<div class="text-group">
				<p>+358 50 353 5173</p>
				<p>Ludviginkatu 6</p>
				<p>00130 Helsinki</p>
			</div>
		</div>
	</div>

	<div class="contact-block" ng-controller="ContactFormController">
		<form ng-show="!formSubmitted" class="contact-form" ng-submit="sendContactForm()" novalidate>
			<div class="contact-form-field">
				<label>
					<span>Name</span> <span class="required">*</span>
					<input type="text" ng-model="name">
				</label>
			</div>
			<span class="contact-form-error" ng-bind="errors.name" ng-if="errors.name"></span>
			<div class="contact-form-field">
				<label>
					<span>Email</span> <span class="required">*</span>
					<input type="email" ng-model="email">
				</label>
			</div>
			<span class="contact-form-error" ng-bind="errors.email" ng-if="errors.email"></span>
			<div class="contact-form-field">
				<label>
					<span>Phone</span>
					<input type="tel" ng-model="phone">
				</label>
			</div>
			<div class="contact-form-field">
				<label>
					<span>Your message</span> <span class="required">*</span>
					<textarea cols="66" rows="6" ng-model="message"></textarea>
				</label>
			</div>
			<span class="contact-form-error" ng-bind="errors.message" ng-if="errors.message"></span>
			<div class="contact-form-field">
				<button type="submit">Send</button>
			</div>

		</form>
		<div class="contact-thanks"{{ isFront ? ' ng-show="formSubmitted"' : '' }}>
			<editor name="contactFormThanks" title="Form thanks message">Thank you for your message, we'll be in touch!</editor>
		</div>
		<div class="contact-form-send-error">
			<span class="contact-form-error" ng-bind="errors.general" ng-if="errors.general"></span>
		</div>
	</div>
</div>