<template-meta>
	<name>Dummy Block</name>
	<renderClassHints>DummyBlock</renderClassHints>
	<contentBlockTemplate>true</contentBlockTemplate>
	<application>website</application>
</template-meta>
<div>
	<h4>Dummy block</h4>
	<p>
		<text name="dummytext"></text>
		<editor name="dummycontent"></editor>
	</p>
</div>