<template-meta>
	<name>Editori</name>
	<renderClassHints>Editor</renderClassHints>
	<contentBlockTemplate>true</contentBlockTemplate>
</template-meta>
<div class="wrapper">
	<div class="editor-content">
		<editor name="content"></editor>
	</div>
</div>