<template-meta>
	<name>Kuva, Kokoleveä</name>
	<renderClassHints>FullWidthImage</renderClassHints>
	<contentBlockTemplate>true</contentBlockTemplate>
</template-meta>
<div class="full-width-img">
	<img editable="fullWidthImage"  />
</div>
