<template-meta>
	<name>Lainaus</name>
	<renderClassHints>QuoteBlock</renderClassHints>
	<contentBlockTemplate>true</contentBlockTemplate>
</template-meta>
<div class="wrapper">
	<div class="container">
		<div class="quote">
			<p class="quote-text"><text name="quote" multiline></text></p>
			<p class="quote-person"><text name="quotePerson" multiline></text></p>
		</div>
	</div>
</div>