

{% if getGlobalVariable('FullHeader') %}
	<div class="header-container" ng-model="hamburgerToggle">
		<div class="header-left">
			<a href="/"><div class="logo"></div></a>
		</div>

		<div class="header-right">
			<div class="menu-button"  ng-class="hamburgerToggle ? 'active' : ''" ng-click="hamburgerToggle=!hamburgerToggle; toggle=false;"></div>
			<div class="full-header" ng-model="toggle" ng-class="toggle ? 'hidden' : ''">
				<button class="header-contact-button" ng-cloak ng-click="toggle=!toggle">[[toggle ? "Close" : "Contact"]]</button>
			</div>
		</div>
		<div class="hamburger-menu-content" ng-class="hamburgerToggle ? 'show-menu' : ''">
			<button class="contact-button-mobile" ng-cloak ng-click="toggle=!toggle; hamburgerToggle=false;">Contact</button>
		</div>
	</div>
{% else %}
<div class="header-container"  ng-model="hamburgerToggle">
	<div class="header-left">
		<a href="/"><div class="logo"></div></a>
	</div>
	<div class="header-right">
		<div class="menu-button" ng-class="hamburgerToggle ? 'active' : ''" ng-click="hamburgerToggle=!hamburgerToggle; toggle=false;"></div>


	</div>
	<div class="hamburger-menu-content" ng-class="hamburgerToggle ? 'show-menu' : ''">
		<a href="/our-services-and-capabilities">Our Capabilities</a>
		<button class="contact-button-mobile" ng-cloak ng-click="toggle=!toggle; hamburgerToggle=false;">Contact</button>
	</div>
</div>
{% endif %}
