{% set language = am.getLanguage() %}
<!DOCTYPE html>
<html{{ language is not empty ? ' lang="' ~ language ~ '"' : '' }}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<base href="/" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

		<title>Wakeone</title>
		{{ am.addStylesheet('/assets/css/vendor.css') }}
		{{ am.addStylesheet('/assets/css/main.css') }}
		{{ am.addJavascript('/assets/js/vendor.js') }}
		{{ am.addJavascript('/assets/js/code.js') }}
		{{ am.addReloadPlugin() }}
		{{ am.getHead() }}
	</head>
	<body class="l-{{ layout_name }}" ng-app="app">
		{% block layout_placeholders %}
			<h1>No content set for page</h1>
		{% endblock %}
		{{ am.getScripts() }}
	</body>
</html>